.faq{
	.call{
		display:block !important;
		width:100%;
		position:relative;
		padding-top: 50px;
		background-color: white;
		height: 150px;
		left:50%;
		transform:translateX(-50%);
		// margin-left:10px;
		// margin-right:10px;
		// background-image: url('../img/bg1.jpg');
		// background-size:cover;
		// background-position: center;
		padding-top:70px;
		padding-bottom: 150px;
		// padding-left:40px;
		.text{
			max-width:800px;
			margin:0 auto;
			p{
				font: 400 24px/40px 'Ubuntu',sans-serif;
				text-align: center;
				color: #222;

				a{
					color:#f3ba19;
					text-decoration:none;
					&:hover{
						cursor:pointer;
					}


				}
			}

			a{
				button{
					margin-top: 30px;
					left:50%;
					transform:translateX(-50%);
					text-align: center;
					min-height: 55px;
					min-width: 240px;
					-webkit-box-shadow: inset 240px 0 0 0 #f3ba19;
					box-shadow: inset -240px 0 0 0 #f3ba19;
					border: 3px solid #f3ba19;
					position: relative;
					background-color: transparent;
					-webkit-transition: all 200ms;
					transition: all 200ms;



					&:hover{
						cursor: pointer;
						animation: btn-1 600ms ease;
						animation-iteration-count: 1;
						box-shadow: inset 0px 0 0 0 #f3ba19;

						p{
							color:#f3ba19;
						}
					}
						font: 500 18px/30px 'Ubuntu', sans-serif;
					
					p{
						&:after{
							content:"\2192";
							position:absolute;
							width: 32px;
							height: 32px;
							font-size:24px;
							padding-left:6px;
							color:#f3ba19;
							border-radius: 50%;
							transition: all 500ms ease-in-out;

						}
						font: 500 18px/20px Ubuntu, sans-serif;
						letter-spacing: -.01em;
						text-transform: uppercase;
						color: #242320;
						width: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						transition: all 200ms ease-in-out;
						
					}
				}
			}
		}
	}	
}

@keyframes btn-1{
	from{
		box-shadow: inset -240px 0 0 0 #f3ba19;
	}
	30%{
		box-shadow: inset 0px 0 0 0 #f3ba19;
	}
	50%{
		box-shadow: inset -25px 0 0 0 #f3ba19;		
	}
	to {
		box-shadow: inset 0px 0 0 0 #f3ba19;
	}
}