@media (min-width: 680px) {
	.top{
		
		.window-zayavka.open{
			opacity:1;
			transition:all 500ms;
			z-index: 6;
			// position:fixed;
			top:0;
		}
		.window-zayavka{
			opacity:0;
			transition:all 500ms;
			width:100%;
			position:fixed;
			top:-20%;
			z-index:-4;
			background-color: #efefef;
			width:100%;
			height:100%;
			background-color: rgba(1,1,1,.75);
			padding-top:250px;
			transition: all 200ms;
			.wz{
				padding:10px;
				padding-bottom:30px;
				display: block;
				background-color: #fff;
				width: 355px;
				height: 420px; 
				margin: auto;

				span.close{
					position:absolute;
					margin-left: 400px;
					margin-top: -35px;
					display: block;
					font-size: 0px;
					// border:1px solid white;
					width:50px;
					height:50px;
					background-color:transparent;
					transform: translate(-50%,-50%);
					transition: all 200ms;
					&:hover{
						cursor:pointer;

						&:before, &:after{
							background-color:#edb937;
						}

						&:before{
							transform: rotate(315deg);
							// transform: rotate(180deg);
						}
						&:after{
							transform: rotate(-315deg);
							// transform: rotate(-90deg);
						}
					}

					&:before, &:after{
						position: absolute;
						top:20px;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: white;
						content: '';
						transition: all 200ms;
						transform: rotate(-135deg);
						border-radius: 20%;
						height:4px;

					}

					&:before{
						transform: rotate(-45deg);
						// transform: translateY(-11px);
					}
					
				}

				p.header{
					padding: 20px 0 0 0;
					margin: 0px 0 30px;
					font: 500 32px/32px 'Ubuntu',sans-serif;
					text-align: center;
					letter-spacing: -.02em;
					color: #222;
				}

				input{
					display: block;
					margin:10px auto;
					width: 70%;
					height: 40px;
					padding: 10px 20px;
					font: 400 15px/25px 'Ubuntu',sans-serif;
					color: #222;
					transition: all .15s linear 0s;
					background-color: #f5f5f5;
					border-style: solid;
					border-width: 1px;
					border-color: rgba(204,204,204,0);
				}
				div.check{
					// border: 1px solid black;
					margin: 20px 25px;
					display:flex;
					flex-direction: row;
					justify-content: flex-start;
					flex-wrap: nowrap;
					max-height: 40px;
					input{
						margin: 0;
						margin-left: 20px;
						flex-basis: 10%;
					}
					p{
						text-align: left;
						flex-basis: 95%;
						display: block;
						position: relative;
						padding-left: 30px;
						font: 300 12px/20px 'Ubuntu',sans-serif;
						a{
							color:#edb937;
							text-decoration: none;
							transition: all 500ms;

							&:hover{
								color: #222;
								cursor: pointer;
							}
						}
					}
				}

				button{
					display: block;
					margin: 0 auto;
					width: 80%;
					padding:10px;
					height: 50px;
					font: 700 17px/27px 'Ubuntu',sans-serif;
					text-transform: uppercase;
					letter-spacing: -.02em;
					color: #fff;
					border: 0;
					transition: all .15s linear 0s;

					&:hover{
						background-color:#edb937;
						cursor:pointer;
					}
				}
			}

		}
	}	
}

@media (max-width: 680px) {
	.top{
		.window-zayavka.open{
			background-color:#242320;
			// background-color:white;
			width:100%;
			height:100%;
			display:block;
			z-index:100001;
			position:fixed;
			top:0;
			left:0;
			overflow-y:scroll;
			transition: all 700ms ease-in-out;
			opacity:1;
			margin-left: 0px;

			.wz{
				margin-top: 40px;
				margin-left: 0;
				transition: all 500ms ease-in-out;
				padding:25px;
			}
		}
		.window-zayavka{
			display: block;
			opacity:0;
			margin-left: -900px;
			.wz{
				position:relative;
				margin-top: 40px;
				transition: all 500ms ease-in-out;
				padding:25px;

				span.close{
					position:absolute;
					top: 0;
					right:0;
					display: block;
					font-size: 0px;
					// border:1px solid white;
					width:30px;
					height:30px;
					background-color:transparent;
					transform: translate(-50%,-50%);
					transition: all 200ms;
					&:hover{
						cursor:pointer;

						&:before, &:after{
							background-color:#edb937;
						}

						&:before{
							transform: rotate(315deg);
						}
						&:after{
							transform: rotate(-315deg);
						}
					}

					&:before, &:after{
						position: absolute;
						top:20px;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: white;
						content: '';
						transition: all 200ms;
						transform: rotate(-135deg);
						border-radius: 20%;
						height:4px;

					}

					&:before{
						transform: rotate(-45deg);
						// transform: translateY(-11px);
					}
					
				}
				p.header{
					// padding: 20px 0 0 0;
					margin: 0px 0 30px;
					font: 500 32px/32px 'Ubuntu',sans-serif;
					text-align: center;
					letter-spacing: -.02em;
					color: #f3ba19;
				}

				input{
					width:65%;
					height:20%;
					position:relative;
					margin:0 auto;
					display: block;
					margin: 10px auto;
					// width: 70%;
					// height: 40px;
					padding: 10px 20px;
					font: 400 15px/25px 'Ubuntu',sans-serif;
					color: #222;
					-webkit-transition: all .15s linear 0s;
					transition: all .15s linear 0s;
					background-color: #f5f5f5;
					border-style: solid;
					border-width: 1px;
					border-color: rgba(204, 204, 204, 0);
				}

				div.check{
					// margin: 20px auto 0 auto;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					flex-wrap: nowrap;
					max-height: 40px;
					max-width: 320px;
					position:relative;
					margin: 40px auto;
					p{
						flex-basis:90%;
						color: white;
						margin-right: 25px;
						max-width: 310px;
						a{
							text-decoration:none;
							color:#f3ba19;
						}
					}
					input{
						margin-left: 30px;
						flex-basis:10%;
						max-width: 320px;
					}
				}
				button{
					display: block;
					margin: 0 auto;
					width: 80%;
					padding: 10px;
					height: 50px;
					font: 700 17px/27px 'Ubuntu',sans-serif;
					text-transform: uppercase;
					letter-spacing: -.02em;
					color: #fff;
					border: 0;
					// -webkit-transition: all .15s linear 0s;
					transition: all .15s linear 0s;
					background-color:#f3ba19;
				}
			}
		}
	}	
}

@media (max-width: 480px) {

	.top{
		.window-zayavka{
			.wz{
				input{
					max-width:320px;
				}				
			}
		}
	}

}
// 